<div class="col-xs-12 col-sm-6">
  <div class="restaurant">
    <div class="row">
      <div class="col-xs-4">
        <h2><%= restaurant.name %></h2>
        <p class="address"><%= restaurant.address %></p>
      </div>
      <div class="col-xs-8">
        <p><%= restaurant.description %></p>
      </div>
    </div>
  </div>
</div>
